.scss-code {
    color: #0070f3; /* Couleur par défaut */
    font-size: 0.95rem;
}

/* Style spécifique pour SCSS */
.variable {
    color: #d7983a; /* Couleur pour les variables */
}

.mixin {
    color: #6f42c1; /* Couleur pour les mixins */
    font-style: italic;
}

.include {
    color: #005cc5; /* Couleur pour les appels de mixins */
}

.property {
    color: #d73a49; /* Couleur pour les propriétés CSS */
}

.value {
    color: #22863a; /* Couleur pour les valeurs CSS */
}