* {
  /* Main */
  /* Black */
  --color-main: oklch(0 0 0);
  /* Light Gray */
  --color-seco: oklch(0.7062 0.0271 252.53);
  /* Select Color */
  --color-selected: var(--color-seco);
  /* Font Segoe */
  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* Code  */
  /* Font Courrier */
  --code-font: "Courier New", Courier, monospace;

  box-sizing: border-box;
  font-family: var(--font-main);

  /* Selection originale */
  *::selection {
    background: var(--color-selected);
    color: var(--color-main);
    box-decoration-break: clone;
  }
}

a {
  text-decoration: none;
  color: var(--color-main);
}

main {
  h1 {
    font-size: calc(40px + 2vw);
    text-align: center;
    padding: 2vw;
  }

  h2 {
    font-size: calc(32px + 2vw);
    padding: 2vw;
  }

  h3 {
    font-size: calc(24px + 2vw);
    padding: 2vw;
  }

  h4 {
    font-size: calc(16px + 2vw);
    padding: 2vw;
  }

  h5 {
    font-size: calc(8px + 2vw);
    padding: 2vw;
  }

  p {
    font-size: calc(8px + 2vw);
    text-indent: 10vw;
    padding: 2vw;
  }

  a {
    text-decoration: none;
    padding: 2vw;
  }

  #isSupported {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    p {
      text-indent: 0px;
    }

    img {
      width: 300px;
    }
  }
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: right 0.5s ease;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidenav.active {
  right: 0;
}

.sidenav .close {
  position: sticky;
  top: 0;
  left: 25px;
  font-size: 36px;
}

.burger-icon {
  position: fixed;
  top: 50px;
  right: 50px;

}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.code {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;

  h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
  }

  pre {
    margin: 10px 0 0;
    overflow-x: auto;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
  }

  code {
    font-family: var(--code-font);
  }
}
