/* Un test à la fois STPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP */

.container {
  display: flex;
  flex-flow: column wrap;
  overflow: auto;
}
#code-sample1 {
  grid-area: 1 / 1 / 2 / 2;
}
#code-sample2 {
  grid-area: 1 / 2 / 2 / 3;
}
  
